/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 Apr, 2015, 9:32:23 PM
    Author     : arjun
*/

h1  {
    font-family: "Arial";
    font-size: 50px;
    text-align: center;
}

#reg_head   {
    font-family: "Arial";
    font-size: 40px;
    text-align: center;
}

h2  {
    font-family: "Arial";
    font-size: 30px;
    text-align: center;
}


#marks_table {
    margin: auto;
    text-align: center;
    font-size: 30px;
}

#login_table    {
    margin: auto;
    background-color: lightgrey;
}

.login_element  {
    padding: 8px;
}

#reg_table  {
    margin: auto;
    background-color: lightgrey;
}

.reg_element    {
    padding: 8px;
}

#marksentry_table   {
    margin: auto;
    background-color: lightgrey;
}

#marksentry_current {
    font-family: "Verdana";
    font-size: 18px;
    font-weight: bold;
}
.marksentry_element {
    padding: 8px;
}

.greeting   {
    text-align: center;
    font-size: 40px;
}

.marks_cell {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px; 
    background-color: lightgrey; 
}

#navbar {
    margin: auto;
    padding: 10px;
    width: 37%;
    text-align: center;    
}

.nav_element {
    padding: 20px;
    background-color: lightgrey;
}



a:link	{
  text-decoration: none;
  font-family: "Verdana";
  font-size: 16px;
  /*color: #FF7F00;*/
}

a:hover	{
  text-decoration: none;
  font-family: "Verdana";
  font-size: 18px;
  font-weight: bold;
}

a:active	{
  font-weight: bold;
}

/*a.nav_element:hover {
  font-size: 28px;
  font-weight: bold;    
}*/

#navelem_current {
    font-family: "Verdana";
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    background-color: orange;
}

footer  {
    text-align: center;
   
}

a.nav_element   {
    font-size: 20px;
}

a.nav_element:hover {
    font-weight: bold;
}


