/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 Apr, 2015, 9:32:23 PM
    Author     : arjun
*/

h1  {
    font-family: "Arial";
    font-size: 50px;
    text-align: center;
}

#marks_table {
    margin: auto;
    text-align: center;
    font-size: 30px;
}

#greeting   {
    text-align: center;
    font-size: 40px;
}

#marks_cell {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px; 
    background-color: lightgrey; 
}

#navbar {
    margin: auto;
    padding: 10px;
    width: 37%;
    text-align: center;    
}

.nav_element {
    background-color: grey;
    font-weight: bold;
    padding: 11px;
}

a:link	{
  text-decoration: none;
  font-family: "Verdana";
  font-size: 16px;
  /*color: #FF7F00;*/
}

a:hover	{
  text-decoration: none;
  font-family: "Verdana";
  font-size: 18px;
  font-weight: bold;
}

a:active	{
  font-weight: bold;
}

footer  {
    text-align: center;
   
}


