/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 Apr, 2015, 9:32:23 PM
    Author     : arjun
*/

table   {
    margin: auto;
}

a   {
    text-decoration: none;
}
.nav_element {
    background-color: green;
    font-weight: bold;
    padding: 10px;
}


